*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
}


body{

    background-color: lightgray;
    width: 100%;
    display: block;
    position: relative;
}

header{
    padding: 2em;
    background-color: whitesmoke;
}

header h1{
margin-left: 8%;
    letter-spacing: 2px;
    text-shadow: 2px 1px 1px;
}

.site-nav ul{
    display: flex;
}

.site-nav ul{
    flex: 1;
    background-color: lightgray;;
    text-align: center;
}

.site-nav li{
    padding: 1em;
    margin-left: 8.5em;
    background-color: rgb(179, 179, 179);
}

.site-nav a{
color: black;

}

.site-nav li:hover{
    background-color: #727272;
    transition: all .8s;
}


.container{
background-color: aliceblue;
position: absolute;
margin-left: 10%;
}

.content-area{
    border-top: 3px solid black;
border-bottom: 3px solid black;
}

footer{

    padding: 1em;
    text-align: center;
}

.img-grid img{
    width: 250px;
    height: 250px;
}

.img-grid img:hover{

    transform: scale(1.1);
    opacity: 0.5;
}

.img-grid{
    
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 10px;
padding: 10px;
}


.clearfix:after{
content: "";
display: table;
clear: both;
}
